<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>WebSocket Example</title>
	<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"
		integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
		crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
	<link href="/static/css/base.css" rel="stylesheet">
	<script src="/static/js/common.js"></script>
	<script src="/static/js/socket.js"></script>
	<script src="/static/js/scripts.js"></script>
</head>

<body>
	<div class="container-fluid">
		<form>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="prompt">Prompt</label>
						<input type="text" class="form-control" id="prompt"
							value="DSLR photo of an albatros, soaring through the clouds above the ocean, amazing light, award winning">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="negative">Negative</label>
						<input type="text" class="form-control" id="negative"
							value="artwork, painting, black and white">
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="basicNeg" checked>
						<label for="basicNeg">Include basic negative [extra-lib, too many finger, etc.]</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="step-count">Step Count</label>
						<input type="number" class="form-control" id="step-count" value="50">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="seed">Seed</label>
						<input type="number" class="form-control" id="seed">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label for="generator-count" class="form-label">Generator Count</label>
					<input type="range" class="form-range" id="generator-count" min="1" max="50" value="3">
				</div>
				<div class="col-md-1">
					<label for="generator-count-display" class="form-label"></label>
					<input type="number" class="form-control" id="generator-count-display" value="3" disabled>
					<!-- <p id="generator-count-display">3</p> -->
				</div>
				<div class="col-md-1">
				</div>
				<div class="col-md-6">
					<label for="" class="form-label"></label>

					<div class="col-md-6" id="queue_length_info">
						<span id="queue_length_info_span">Messages in queue: ? </span>
						<button type="button" class="btn btn-outline-info" onclick="clearGenQueue()">Clear
							Queue</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<button type="button" class="btn btn-primary btn-block" onclick="sendMessage()">Generate</button>
				</div>
				<div class="col-md-3">
					<button type="button" class="btn btn-warning btn-block" onclick="clearImages()">Clear All
						Images</button>
				</div>
				<div class="col-md-3" id="loading_space">
					
				</div>
			</div>
		</form>

		<div class="row" style="margin-top: 10;">
			<div id="images"></div>
		</div>
	</div>


</body>

</html>